@import 'mixins'
@import 'variables'

.footer-wrapper
  align-content center
  border-top 1px solid $white-smoke
  bottom - $footer-height
  display flex
  height $footer-height
  justify-content space-between
  position absolute
  width 100%
  border-top: 1px solid black
