.main-background-wrapper
  height: 100vh
  width: 100vw
  position: absolute
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center

  .main-background
    background url('/assets/backgrounds/main-background.png')
    background-repeat no-repeat
    background-size contain
    height 600px
    opacity .5
    position absolute
    width 600px
    // background:url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/0/8/8905/red-rocks-park-o.jpg')
    // background: red
    // z-index -100

    img
      width 100%
