@import 'variables'

.menu-wrapper
  display flex
  height 200px
  justify-content center
  overflow hidden
  position absolute
  top calc(50% - 75px)
  width 100%

  &.active
    .menu-item
      height 50px
      border none
      transition all .3s

      .menu-item-text
        position: relative

        &:before
          content ''
          position: absolute;
          width: 50%;
          height: 1px;
          background: black;
          left: 0;
          top calc(50% + 1px)
          transition all .3s
          transform: translateX(-100%)

        &:after
          content ''
          position: absolute;
          width: 50%;
          height: 1px;
          background: black;
          right: 0;
          top calc(50% + 1px)
          transition all .3s
          transform: translateX(100%)

        &:hover:before
          transform: translateX(0)
          transition all .3s

        &:hover:after
          transform: translateX(0)
          transition all .3s

      .menu-item-content
        transform: translateY(-150px)
        transition all ease-in .3s

  .menu-item
    border 1px solid $black-almost
    height 150px
    margin 20px
    transition all ease-in .3s
    width 150px
    cursor pointer
    overflow: hidden

    .menu-item-content
      // border 1px solid $black-almost
      height 100%
      width 100%

      .icon-wrapper
        font-size 60px
        height 150px
        display flex
        justify-content center
        align-items center

      .menu-item-text
        display flex
        justify-content center

    &.selected
      width 150px
      height 50px
      // border 1px solid black
      // padding 10px
      transition all .3s

      .menu-item-text
        &:before
          transition all .3s
          transform: translateX(0)

        &:after
          transition all .3s
          transform: translateX(0)

  .menu-bottom-border
    background $black-almost
    bottom 0
    display block
    height 1px
    left 0
    position absolute
    width 50%

  .menu-top-border
    background $black-almost
    display block
    height 1px
    position absolute
    right 0
    top 0
    width 50%
