@import 'variables'

.main-wrapper
  align-items center
  background $white-smoke
  display flex
  height 100vh
  justify-content center
  padding $space-large
  position relative

.router-wrapper
  width 100%

.border-wrapper
  border 1px solid $black-almost
  height 100%
  overflow hidden
  position relative
  width 100%

  .content-wrapper
    // background $white-smoke
    // overflow-x auto
    display flex
    height 0
    justify-content: center
    overflow hidden
    position absolute
    top calc(50% + 75px)
    width 100%
    z-index 1

  .content-item
    display none
