@import 'variables'

.main-wrapper
  align-items center
  background $white-smoke
  display flex
  height 100vh
  justify-content center
  padding $space-large
  position relative

.main-background
  width 600px
  height 600px
  position absolute
  opacity .5
  background url('/assets/backgrounds/main-background.png')
  background-repeat: no-repeat
  background-size contain
  // background:url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/0/8/8905/red-rocks-park-o.jpg')     
  // background: red
  // z-index -100

  img 
    width: 100%

.router-wrapper
  width 100%

.border-wrapper
  border 1px solid $black-almost
  height 100%
  overflow hidden
  position relative
  width 100%

.content-wrapper
  // background $white-smoke
  display flex
  height 0
  justify-content: center
  overflow-x auto
  position absolute
  top calc(50% + 75px)
  width 100%
  z-index 1
  overflow hidden

  .content-item
    display none

.footer-wrapper
  align-content center
  border-top 1px solid $white-smoke
  bottom -25px
  display flex
  height 25px
  justify-content space-between
  position absolute
  width 100%
