* 
  box-sizing border-box

.main-wrapper
  background grey
  height 100%
  position relative

  .menu-wrapper
    border-bottom: 1px solid #ffffff
    border-top: 1px solid #ffffff
    display: flex
    height 200px
    justify-content center
    position fixed
    top calc(50% - 75px)
    width: 100%
    z-index 1

    .menu-bottom-border
      content ''
      display block
      width 10%
      height 100px
      background black
      position absolute
      left 0
      bottom -5px
      height 5px

    .menu-item
      border 1px solid #ffffff
      height 150px
      margin 20px
      width 150px

.content-wrapper
  background: white
  display: flex
  height 0
  justify-content: center
  position fixed
  top calc(50% + 75px)
  width 100%

  .content-item
    display none

.footer-wrapper
  border-top: 1px solid #ffffff
  align-content center
  bottom -25px
  display flex
  height 25px
  justify-content center
  position fixed
  width 100%
