<div class="main-wrapper">
  <!-- <app-hamburger-menu></app-hamburger-menu> -->
  <!-- <a routerLink="/slider">test</a> -->
  <app-main-background></app-main-background>
  <div class="border-wrapper">
    <app-main-menu
      [mainMenuState]="mainMenuState"
      [topBorderState] = "topBorderState"
      [bottomBorderState]="bottomBorderState">
    </app-main-menu>
    <div  class="content-wrapper" [@mainContentState]='mainContentState'>
      <div class="router-wrapper" [@routerTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
    <div [@footerState]='footerState' class="footer-wrapper">
      <span class="copyryghts">
        Copyrights © {{ currentYear }}
      </span>
      <span class="social-links">
        <fa name="facebook"></fa>
        <fa name="behance"></fa>
        <fa name="pinterest"></fa>
      </span>
    </div>
  </div>
</div>


