@import 'variables'

.content-inner-wrapper
  // width $content-inner-width
  display flex
  flex-wrap wrap
  justify-content: center
  margin: 0 auto
  width: 50%
  max-width 50%

  .item-thumbnail
    border 1px solid $black-almost
    display flex
    height 300px
    margin $space
    overflow hidden

  .item-wrapper
    flex 1 1 50%
    width 50%

    img
      // max-height 100%
      // max-width 100%
