@import 'variables'

// THIS IS MIXIN
.content-inner-wrapper
  width $content-inner-width
  display flex
  justify-content: center
  flex-wrap wrap

  .item-descriprion
    margin $space
    height 300px
    border 1px solid $black-almost

  .item-wrapper
    flex 1 1 50%
