<div class="hamburger-menu-wrapper">
  <div class="hamburger-menu-button" [@hamburgerMenuState]="hamburgerMenuState" (click)="toggleHamburgerMenu(hamburgerMenuState)">
    <span class="menu-top-line" [@topLineState]="hamburgerMenuState"></span>
    <span class="menu-middle-line" [@middleLineState]="hamburgerMenuState"></span>
    <span class="menu-bottom-line" [@bottomLineState]="hamburgerMenuState"></span>
  </div>
  <div class="hamburger-menu-content" [@hamburgerMenuContentState]="hamburgerMenuState">
    <div class="menu-item shop">
      shop
    </div>
    <div class="menu-item shop">
      videos
    </div>
    <div class="menu-item music">
      music
    </div>
    <div class="menu-item bio">
      bio
    </div>
  </div>
</div>
