@import 'mixins'
@import 'variables'

.item-details-wrapper
  // background $black-almost
  color $white-smoke
  height 100%
  justify-content center
  // left 0
  padding $space
  // position fixed
  // top 0
  width 100%
  color: $black-almost

.item-details
  align-content center
  align-items center
  border 1px solid $white-smoke
  display flex
  height 100%
  justify-content center
  position relative
  width 100%

  .description
    // border 1px solid blue
    position relative

  // MOVE INTO MIXIN
  .content-inner-wrapper
    display flex
    flex-wrap wrap
    justify-content center
    margin 0 auto
    max-width 50%
    width 50%
    // height: 100%

  .item-name
    bottom -40px
    color $white-smoke
    font-size 60px
    font-style italic
    left -145px
    position absolute
    top calc(50% - 50px)
    transform rotate(270deg)
    height 100px
    width 400px

  .stroketext
    text-border()

  .image-wrapper
    img
      width 100%

  .close-button
    position absolute
    width 30px
    height: 30px
    right 0
    top 0
    cursor: pointer

    &:before
      content ''
      position absolute
      width 100%
      height: 1px
      background: $black-almost
      transform: translateY(10px) rotate(45deg)
      transition all .3s

    &:hover:before
      transform: translateY(10px) rotate(-45deg)
      transition all .3s

    &:after
      content ''
      position absolute
      width 100%
      height: 1px
      background: $black-almost
      transform: translateY(10px) rotate(-45deg)
      transition all .3s

    &:hover:after
      transform: translateY(10px) rotate(45deg)
      transition all .3s

  .next-button-wrapper
    align-items center
    cursor pointer
    display flex
    height 20px
    justify-content center
    position absolute
    right 10px
    width 50px
    overflow hidden

    .next-button
      user-select none

    &:after
      content ''
      height 1px
      background $black-almost
      width 100%
      position: absolute
      left 0
      width: 100%
      top calc(50% + 1px)
      transform translateX(-100%)
      transition all .3s

    &:hover:after
      transform translateX(0)
      transition all .3s

  .prev-button-wrapper
    align-items center
    cursor pointer
    display flex
    height 20px
    justify-content center
    position absolute
    left 10px
    width 50px
    overflow hidden

    .prev-button
      user-select none

    &:after
      content ''
      height 1px
      background $black-almost
      width 100%
      position: absolute
      left 0
      width: 100%
      top calc(50% + 1px)
      transform translateX(100%)
      transition all .3s

    &:hover:after
      transform translateX(0)
      transition all .3s

  // .previous-button-wrapper-backup
  //   height 20px
  //   left 10px
  //   position absolute
  //   width 50px

  //   &:hover
  //     .previous-button
  //       &:after
  //         transform: rotate(-45deg)
  //         transition all .3s

  //       &:before
  //         transform-origin: 0 100%
  //         transform: rotate(45deg)
  //         transition all .3s

  //   &:active
  //     transform translateX(-5px)
  //     transition all .3s

  //   .previous-button
  //     background $white-smoke
  //     height 3px
  //     position absolute
  //     top calc(50% - 3px)
  //     transition all .3s
  //     width 50px

  //     &:after
  //       background $white-smoke
  //       content ''
  //       height 3px
  //       position absolute
  //       transform-origin 0 0
  //       transition all .3s
  //       width 20px

  //     &:before
  //       background $white-smoke
  //       content ''
  //       height 3px
  //       position absolute
  //       transform-origin 0 0
  //       transition all .3s
  //       width 20px
